//colors

//main backgroound color
$bg--color: #13131a;

//black text color
$text--color: #ffffff;

//grey text color
$text--color-2: #999f9f;

//selected color
$selected--color: #a61b00;

//transition
$transition: 0.1s ease-in-out;
